:root {
    --color-primary: #8B4513; 
    --color-secondary: #D2B48C; 
    --color-accent: #481d09; 
    --color-primary-dark: #2F170C; 
    --color-text: #000000; 
    --color-light-text: #F5F5DC; 
    --color-dark: #121212; 
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--color-text);
    background-color: var(--color-secondary); 
}

.page-section {
    padding: 6rem 0;
    background-color: var(--color-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.page-section.bg-secondary {
    background-color: var(--color-primary) !important; 
    color: var(--color-light-text);
}

#mainNav {
    background-color: var(--color-primary-dark); 
    border-bottom: 4px solid var(--color-accent); 
}

#mainNav .navbar-brand, #mainNav .nav-link {
    color: var(--color-light-text) !important;
    font-weight: bold;
}

#mainNav .nav-link:hover {
    color: var(--color-primary) !important; 
}

.btn-accent {
    background-color: var(--color-accent);
    color: var(--color-light-text);
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.btn-accent:hover {
    background-color: #5D2C19; 
    color: var(--color-light-text);
}

.btn-primary-dark {
    background-color: var(--color-primary-dark);
    color: var(--color-light-text);
}

.btn-primary-dark:hover {
    background-color: #481d09;
    color: var(--color-light-text);
}

.carousel-img {
    height: 60vh;
    min-height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 0.5rem;
    padding: 1rem;
}

.divider-custom .divider-custom-line {
    background-color: var(--color-text);
}

.divider-custom .divider-custom-icon {
    color: var(--color-accent); 
}

.divider-custom.divider-light .divider-custom-line {
    background-color: var(--color-light-text);
}

.divider-custom.divider-light .divider-custom-icon {
    color: var(--color-light-text);
}

.portfolio-item-caption {
    background-color: rgba(72, 29, 9, 0.85); 
}

.nav-tabs .nav-link {
    color: var(--color-text);
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    background-color: var(--color-primary); 
    color: white;
    border-color: var(--color-primary);
}

#eventos .card {
    border: 3px solid var(--color-primary);
    background-color: #FFF;
}

#contacto {
    background-color: var(--color-primary-dark); 
}

#contacto .form-control {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 1px solid var(--color-primary);
}

.footer {
    background-color: var(--color-dark); 
}

.copyright {
    background-color: var(--color-text) !important; 
    color: var(--color-light-text);
}